name: Changelog
on:
  workflow_call:
    inputs:
      changelog:
        type: string
        required: true
      ref:
        type: string
        required: false

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # ratchet:actions/checkout@v1
        with:
          ref: ${{ inputs.ref }}
    
      - name: Write Changelog
        if: ${{ inputs.changelog }}
        run: |
          CHANGELOG=""
          if [ -e CHANGELOG.md ]
          then
              CHANGELOG=$(cat CHANGELOG.md)
          fi
          echo -e "${{ inputs.changelog }}\n\n${CHANGELOG}" > CHANGELOG.md
          
          cat CHANGELOG.md
          
      - name: "Commit"
        if: ${{ inputs.changelog }}
        uses: EndBug/add-and-commit@61a88be553afe4206585b31aa72387c64295d08b # v9.1.1
        with:
          message: "chore: updating changelog"
          push: true
