name: .NET Core
on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: false
      new_version:
        type: string
        required: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # @v5.1.0
        with:
          dotnet-version: |
            8.0.x

      - name: Set version
        if: ${{ inputs.new_tag }}
        run: |
          echo New Tag:  ${{ inputs.new_tag }}
          echo New Version:  ${{ inputs.new_version }}
          
          cat > ./Directory.Build.props << 'EOF'
          <Project>
            <PropertyGroup>
              <Version>${{ inputs.new_version }}</Version>
              <FileVersion>${{ inputs.new_version }}</FileVersion>
            </PropertyGroup>
          </Project>
          EOF
          
      - name: Build
        run: |
          dotnet build --configuration Release
          
      - name: Test
        run: dotnet test --configuration Release --logger "trx;LogFileName=test-results.trx"
        
      - name: Upload MaintainabilityAnalyzers Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: Philips.CodeAnalysis.MaintainabilityAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: |
            ./Packages/Philips.CodeAnalysis.MaintainabilityAnalyzers.*.nupkg
            ./Packages/Philips.CodeAnalysis.MaintainabilityAnalyzers.*.snupkg

      - name: Upload DuplicateCodeAnalyzer Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: Philips.CodeAnalysis.DuplicateCodeAnalyzer-${{ inputs.new_tag }}
          retention-days: 1
          path: |
            ./Packages/Philips.CodeAnalysis.DuplicateCodeAnalyzer.*.nupkg
            ./Packages/Philips.CodeAnalysis.DuplicateCodeAnalyzer.*.snupkg

      - name: Upload MoqAnalyzers Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: Philips.CodeAnalysis.MoqAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: |
            ./Packages/Philips.CodeAnalysis.MoqAnalyzers.*.nupkg
            ./Packages/Philips.CodeAnalysis.MoqAnalyzers.*.snupkg

      - name: Upload MsTestAnalyzers Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: Philips.CodeAnalysis.MsTestAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: |
            ./Packages/Philips.CodeAnalysis.MsTestAnalyzers.*.nupkg
            ./Packages/Philips.CodeAnalysis.MsTestAnalyzers.*.snupkg

      - name: Upload SecurityAnalyzers Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: Philips.CodeAnalysis.SecurityAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: |
            ./Packages/Philips.CodeAnalysis.SecurityAnalyzers.*.nupkg
            ./Packages/Philips.CodeAnalysis.SecurityAnalyzers.*.snupkg
    
