name: .NET Core
on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: false
      new_version:
        type: string
        required: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # ratchet:actions/checkout@v1
      - name: Setup .NET
        uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2 # @v3.2.0
        with:
          dotnet-version: |
            7.0.x

      - name: Set version
        if: ${{ inputs.new_tag }}
        run: |
          echo New Tag:  ${{ inputs.new_tag }}
          echo New Version:  ${{ inputs.new_version }}
          
          cat > ./Directory.Build.props << 'EOF'
          <Project>
            <PropertyGroup>
              <Version>${{ inputs.new_version }}</Version>
              <FileVersion>${{ inputs.new_version }}</FileVersion>
            </PropertyGroup>
          </Project>
          EOF
          
      - name: Build
        run: |
          dotnet build --configuration Release
          
      - name: Test
        run: dotnet test --configuration Release --logger "trx;LogFileName=test-results.trx"
        
      - name: Upload MaintainabilityAnalyzers Artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: Philips.CodeAnalysis.MaintainabilityAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: ./Packages/Philips.CodeAnalysis.MaintainabilityAnalyzers.*.nupkg

      - name: Upload DuplicateCodeAnalyzer Artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: Philips.CodeAnalysis.DuplicateCodeAnalyzer-${{ inputs.new_tag }}
          retention-days: 1
          path: ./Packages/Philips.CodeAnalysis.DuplicateCodeAnalyzer.*.nupkg

      - name: Upload MoqAnalyzers Artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: Philips.CodeAnalysis.MoqAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: ./Packages/Philips.CodeAnalysis.MoqAnalyzers.*.nupkg

      - name: Upload MsTestAnalyzers Artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: Philips.CodeAnalysis.MsTestAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: ./Packages/Philips.CodeAnalysis.MsTestAnalyzers.*.nupkg

      - name: Upload SecurityAnalyzers Artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: Philips.CodeAnalysis.SecurityAnalyzers-${{ inputs.new_tag }}
          retention-days: 1
          path: ./Packages/Philips.CodeAnalysis.SecurityAnalyzers.*.nupkg
    
