name: Format

on:
  workflow_call:
jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

    - name: Setup .NET
      uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # @v3.0.3
      with:
        dotnet-version: 7.0.*

    - name: Restore
      run: dotnet restore
      
    - name: Format
      run: dotnet format style --verify-no-changes --no-restore --verbosity detailed
      
    - name: Step To run on failure
      if: ${{ failure() }}
      run: echo 'Run Code Cleanup in VS on files reporting problems. Configure Code Cleanup to run on save in Tools -> Options to avoid future problems'  >> $GITHUB_STEP_SUMMARY
        
