name: Format

on:
  workflow_call:
jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

    - name: Setup .NET
      uses: actions/setup-dotnet@3447fd6a9f9e57506b15f895c5b76d3b197dc7c2 # @v3.2.0
      with:
        dotnet-version: 7.0.*

    - name: Restore
      run: dotnet restore
      
    - name: Format
      run: dotnet format style --verify-no-changes --no-restore --verbosity detailed
      
    - name: Step To run on failure
      if: ${{ failure() }}
      run: echo 'Run Code Cleanup in VS on files reporting problems. Configure Code Cleanup to run on save in Tools -> Options to avoid future problems'  >> $GITHUB_STEP_SUMMARY
        
