name: Markdown Links
on:
  pull_request:
    branches:
      - master
    paths:
      - 'Documentation/**'
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - name: Check Markdown Links
        uses: gaurav-nelson/github-action-markdown-link-check@0a51127e9955b855a9bbfa1ff5577f1d1338c9a5 # ratchet:gaurav-nelson/github-action-markdown-link-check@1.0.14
        with:
          config-file: .github/linters/markdown-link-check.json
