name: Analyzer Performance
on:
  workflow_call:
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup .NET Core
        uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a
        with:
          dotnet-version: |
            7.0.x

      - name: Build Dogfood
        run: |
          cat > ./Directory.Build.props << 'EOF'
          <Project>
            <PropertyGroup>
              <PackageId>$(MSBuildProjectName).Dogfood</PackageId>
              <PackageVersion>1.0.0</PackageVersion>
            </PropertyGroup>
          </Project>
          EOF
          dotnet build --configuration Release

      - name: Prepare to eat Dogfood
        run: |
          echo "::remove-matcher owner=csc::"
          dotnet nuget add source $GITHUB_WORKSPACE/Packages
          
          rm -f ./.editorconfig
          cat > ./.editorconfig << EOF
          root = true
          [*.cs]
          dotnet_analyzer_diagnostic.severity = warning
          dotnet_analyzer_diagnostic.category-Style.severity = warning
          dotnet_code_quality.PH2075.assembly_version = 1.0.3.0
          dotnet_code_quality.PH2079.namespace_prefix = Philips.CodeAnalysis
          dotnet_diagnostic.CA1305.severity = none
          dotnet_diagnostic.CA1310.severity = none
          dotnet_diagnostic.CS1591.severity = none
          dotnet_diagnostic.CA1822.severity = none
          dotnet_diagnostic.CA1824.severity = none
          dotnet_diagnostic.CA1845.severity = warning
          dotnet_diagnostic.CA1847.severity = warning
          dotnet_diagnostic.CA1852.severity = warning
          dotnet_diagnostic.IDE0005.severity = none
          dotnet_diagnostic.IDE0008.severity = none
          dotnet_diagnostic.IDE0010.severity = warning
          dotnet_diagnostic.IDE0025.severity = none
          dotnet_diagnostic.IDE0045.severity = none
          dotnet_diagnostic.IDE0046.severity = warning
          dotnet_diagnostic.IDE0055.severity = warning
          dotnet_diagnostic.IDE0056.severity = none
          dotnet_diagnostic.IDE0057.severity = none
          dotnet_diagnostic.IDE0058.severity = none
          dotnet_diagnostic.IDE0072.severity = none
          dotnet_diagnostic.IDE0130.severity = warning
          dotnet_diagnostic.IDE0200.severity = warning
          dotnet_diagnostic.IDE0260.severity = warning
          dotnet_diagnostic.PH2006.severity = none
          dotnet_diagnostic.PH2015.severity = none
          dotnet_diagnostic.SYSLIB1045.severity = none
          EOF
          
          rm -f ./Directory.Build.props
          cat > ./Directory.Build.props << EOF
          <Project>
            <ItemGroup>
              <PackageReference Include="Philips.CodeAnalysis.MaintainabilityAnalyzers.Dogfood" Version="1.0.0">
                <PrivateAssets>all</PrivateAssets>
                <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
              </PackageReference>
              <PackageReference Include="Philips.CodeAnalysis.DuplicateCodeAnalyzer.Dogfood" Version="1.0.0">
                <PrivateAssets>all</PrivateAssets>
                <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
              </PackageReference>
              <PackageReference Include="Philips.CodeAnalysis.SecurityAnalyzers.Dogfood" Version="1.0.0">
                <PrivateAssets>all</PrivateAssets>
                <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
              </PackageReference>
              <PackageReference Include="Philips.CodeAnalysis.MsTestAnalyzers.Dogfood" Version="1.0.0">
                <PrivateAssets>all</PrivateAssets>
                <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
              </PackageReference>
              <PackageReference Include="Philips.CodeAnalysis.MoqAnalyzers.Dogfood" Version="1.0.0">
                <PrivateAssets>all</PrivateAssets>
                <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
              </PackageReference>
            </ItemGroup>
          </Project>
          EOF

      - name: Dogfood Performance
        continue-on-error: true
        run: |
          cat ./.editorconfig
          dotnet build -binaryLogger --configuration Debug /p:RunAnalyzersDuringBuild=true
        
      - name: Analyze Performance
        run: |
          ./Philips.CodeAnalysis.AnalyzerPerformance/bin/Release/net7.0/Philips.CodeAnalysis.AnalyzerPerformance msbuild.binlog Philips.CodeAnalysis >> PerformanceSummary.txt
          cat ./PerformanceSummary.txt
          cat ./PerformanceSummary.txt >> $GITHUB_STEP_SUMMARY

