name: Pinned Actions
on:
  workflow_call:
jobs:
  pinned_actions:
    name: Pin GitHub Actions to SHA
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@9e9574ef04ea69da568d6249bd69539ccc704e74 # ratchet:zgosalvez/github-actions-ensure-sha-pinned-actions@v4.0.0
        with:
          allowlist: philips-software/roslyn-analyzers
