name: Pinned Actions
on:
  workflow_call:
jobs:
  pinned_actions:
    name: Pin GitHub Actions to SHA
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # ratchet:actions/checkout@v3
        
      - name: Ensure SHA pinned actions
        uses: philips-forks/github-actions-ensure-sha-pinned-actions@234b20cd9f346b93f20a10f6a477b0936b07c1f7 # ratchet:philips-forks/github-actions-ensure-sha-pinned-actions@v1.0.0
        with:
          allowlist: philips-software/roslyn-analyzers
