name: Prerelease to Nuget
on:
  workflow_dispatch:
    inputs:
      package:
        type: string
        required: true
        default: Philips.CodeAnalysis.MaintainabilityAnalyzers
        
jobs:
  tagversion:
    uses: ./.github/workflows/tagversion.yml
    
  build:
    needs: tagversion
    uses: ./.github/workflows/dotnetcore.yml
    with:
      new_tag: ${{ needs.tagversion.outputs.new_tag }}
      new_version: ${{ needs.tagversion.outputs.new_version }}
      
  publish:
    needs: [build, tagversion]
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v4
      with:
        name: ${{ inputs.package }}-${{ needs.tagversion.outputs.new_tag }}

    - name: Nuget
      run: |
        echo Publishing to Nuget ${{ inputs.package }}-${{ needs.tagversion.outputs.new_tag }} >> $GITHUB_STEP_SUMMARY
#        dotnet nuget push ${{ inputs.package }}.*.nupkg --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
