name: Publish

on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: true
    secrets:
      nuget-token:
        required: true
        
jobs:
  publish:
    strategy:
      matrix:
        package: [MaintainabilityAnalyzers, DuplicateCodeAnalyzer, MoqAnalyzers, MsTestAnalyzers]
    runs-on: ubuntu-latest
    name: Publish
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v3
    
    - uses: dorny/paths-filter@7267a8516b6f92bdb098633497bad573efdbf271 #v2.12.0
      id: changes
      with:
        filters: |
          ${{ matrix.package }}:
            - 'Philips.CodeAnalysis.${{ matrix.package }}/**'
            
    - name: Download artifact
      uses: actions/download-artifact@9c19ed7fe5d278cd354c7dfd5d3b88589c7e2395 #v4
      with:
        name: Philips.CodeAnalysis.${{ matrix.package }}-${{ inputs.new_tag }}

    - name: Nuget
      if: (steps.changes.outputs.MaintainabilityAnalyzers == 'true' && matrix.package == 'MaintainabilityAnalyzers') || (steps.changes.outputs.DuplicateCodeAnalyzer == 'true' && matrix.package == 'DuplicateCodeAnalyzer') || (steps.changes.outputs.MoqAnalyzers == 'true' && matrix.package == 'MoqAnalyzers') || (steps.changes.outputs.MsTestAnalyzers == 'true' && matrix.package == 'MsTestAnalyzers')
      run: |
        echo Publishing to Nuget Philips.CodeAnalysis.${{ matrix.package }}-${{ inputs.new_tag }} >> $GITHUB_STEP_SUMMARY
#        dotnet nuget push Philips.CodeAnalysis.${{ matrix.package }}.*.nupkg --api-key ${{ secrets.nuget-token }} --source https://api.nuget.org/v3/index.json
