name: Publish

on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: true
    secrets:
      nuget-token:
        required: true
        
jobs:
  publish:
    strategy:
      matrix:
        package: [MaintainabilityAnalyzers, DuplicateCodeAnalyzer, MoqAnalyzers, MsTestAnalyzers]
    runs-on: ubuntu-latest
    name: Publish
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    
    - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 #v3.0.2
      id: changes
      with:
        filters: |
          ${{ matrix.package }}:
            - 'Philips.CodeAnalysis.${{ matrix.package }}/**'
            
    - name: Download artifact
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v5
      with:
        name: Philips.CodeAnalysis.${{ matrix.package }}-${{ inputs.new_tag }}

    - name: Nuget
      if: (steps.changes.outputs.MaintainabilityAnalyzers == 'true' && matrix.package == 'MaintainabilityAnalyzers') || (steps.changes.outputs.DuplicateCodeAnalyzer == 'true' && matrix.package == 'DuplicateCodeAnalyzer') || (steps.changes.outputs.MoqAnalyzers == 'true' && matrix.package == 'MoqAnalyzers') || (steps.changes.outputs.MsTestAnalyzers == 'true' && matrix.package == 'MsTestAnalyzers') || (steps.changes.outputs.SecurityAnalyzers == 'true' && matrix.package == 'SecurityAnalyzers')
      run: |
        echo Publishing to Nuget Philips.CodeAnalysis.${{ matrix.package }}.${{ inputs.new_tag }}.*.nupkg >> $GITHUB_STEP_SUMMARY
        echo Publishing to Nuget Philips.CodeAnalysis.${{ matrix.package }}.${{ inputs.new_tag }}.*.snupkg >> $GITHUB_STEP_SUMMARY
#        dotnet nuget push Philips.CodeAnalysis.${{ matrix.package }}.${{ inputs.new_tag }}.*.nupkg --api-key ${{ secrets.nuget-token }} --source https://api.nuget.org/v3/index.json
#        dotnet nuget push Philips.CodeAnalysis.${{ matrix.package }}.${{ inputs.new_tag }}.*.snupkg --api-key ${{ secrets.nuget-token }} --source https://api.nuget.org/v3/index.json
