name: Release
on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: false
      changelog:
        type: string
        required: false
      prerelease:
        type: boolean
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v3
    - uses: dorny/paths-filter@7267a8516b6f92bdb098633497bad573efdbf271 #v2.12.0
      id: changes
      with:
        filters: |
          packages:
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.DuplicateCodeAnalyzer/**'
            - 'Philips.CodeAnalysis.MoqAnalyzers/**'
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.MsTestAnalyzers/**'
            - 'Philips.CodeAnalysis.SecurityAnalyzers/**'
          
    - name: GitHub Tag & Release
#      if: steps.changes.outputs.packages == 'true'
      uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 #v1.12
      with:
        tag: ${{ inputs.new_tag }}
        name: Release ${{ inputs.new_tag }}
        body: ${{ inputs.changelog }}
        prerelease: ${{ inputs.prerelease }}
        allowUpdates: true
        generateReleaseNotes: true
        commit: ${{ github.sha }}
