name: Release
on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: false
      changelog:
        type: string
        required: false
      prerelease:
        type: boolean
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3
    - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 #v2.11.1
      id: changes
      with:
        filters: |
          packages:
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.DuplicateCodeAnalyzer/**'
            - 'Philips.CodeAnalysis.MoqAnalyzers/**'
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.MsTestAnalyzers/**'
            - 'Philips.CodeAnalysis.SecurityAnalyzers/**'
          
    - name: GitHub Tag & Release
#      if: steps.changes.outputs.packages == 'true'
      uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e #v1.12
      with:
        tag: ${{ inputs.new_tag }}
        name: Release ${{ inputs.new_tag }}
        body: ${{ inputs.changelog }}
        prerelease: ${{ inputs.prerelease }}
        allowUpdates: true
        generateReleaseNotes: true
        commit: ${{ github.sha }}
