name: Release
on:
  workflow_call:
    inputs:
      new_tag:
        type: string
        required: false
      changelog:
        type: string
        required: false
      prerelease:
        type: boolean
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v3
    - uses: dorny/paths-filter@0bc4621a3135347011ad047f9ecf449bf72ce2bd #v3.0.0
      id: changes
      with:
        filters: |
          packages:
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.DuplicateCodeAnalyzer/**'
            - 'Philips.CodeAnalysis.MoqAnalyzers/**'
            - 'Philips.CodeAnalysis.MaintainabilityAnalyzers/**'
            - 'Philips.CodeAnalysis.MsTestAnalyzers/**'
            - 'Philips.CodeAnalysis.SecurityAnalyzers/**'
          
    - name: GitHub Tag & Release
#      if: steps.changes.outputs.packages == 'true'
      uses: ncipollo/release-action@6c75be85e571768fa31b40abf38de58ba0397db5 #v1.12
      with:
        tag: ${{ inputs.new_tag }}
        name: Release ${{ inputs.new_tag }}
        body: ${{ inputs.changelog }}
        prerelease: ${{ inputs.prerelease }}
        allowUpdates: true
        generateReleaseNotes: true
        commit: ${{ github.sha }}
