name: "Semantic Commit Check"
on:
  workflow_call:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
jobs:
  main:
    name: Semantic Commit Message Check
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@01d5fd8a8ebb9aafe902c40c53f0f4744f7381eb # ratchet:amannn/action-semantic-pull-request@v5
        name: Check PR for Semantic Commit Message
        env:
          GITHUB_TOKEN: ${{ github.token }}
