name: SonarCloud
on:
  workflow_call:
    secrets:    
      sonar-auth-token:
        required: true
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # ratchet:actions/setup-java@v3
        with:
          java-version: '17'
          distribution: temurin
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # @v4.0.0
        with:
          dotnet-version: |
            3.1.x
            8.0.x
      - name: Install Tools
        run: |
          dotnet tool update dotnet-sonarscanner --global
          dotnet tool update dotnet-coverage --global
      - name: Build and analyze
        if: ${{ env.SONAR_TOKEN != null }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.sonar-auth-token }}
        run: |
          dotnet sonarscanner begin /k:"philips-software_roslyn-analyzers" /o:"philips-software" /d:sonar.login="${{ secrets.sonar-auth-token }}" /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml" /d:sonar.host.url="https://sonarcloud.io"
          dotnet build --configuration Debug
          dotnet coverage collect 'dotnet test' -f xml  -o 'coverage.xml'
          dotnet sonarscanner end /d:sonar.login="${{ secrets.sonar-auth-token }}"
