name: SonarCloud
on:
  push:
    branches: [master, release/**]
  pull_request:
    branches: [master, release/**]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # ratchet:actions/setup-java@v3
        with:
          java-version: '17'
          distribution: temurin
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # ratchet:actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # ratchet:actions/setup-dotnet@v2
        with:
          dotnet-version: |
            3.1.x
            7.0.x
      - name: Install Tools
        run: |
          dotnet tool update dotnet-sonarscanner --global
          dotnet tool update dotnet-coverage --global
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin /k:"philips-software_roslyn-analyzers" /o:"philips-software" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.cs.vscoveragexml.reportsPaths="coverage.xml" /d:sonar.host.url="https://sonarcloud.io"
          dotnet build --configuration Debug
          dotnet coverage collect 'dotnet test' -f xml  -o 'coverage.xml'
          dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
