name: TagVersion

on:
  workflow_call:
    inputs:
      prerelease:
        type: boolean
        required: false
        default: true
    outputs:
      new_tag:
        value: ${{ jobs.tagversion.outputs.new_tag }}
      new_version:
        value: ${{ jobs.tagversion.outputs.new_version }}
      changelog:
        value: ${{ jobs.tagversion.outputs.changelog }}
jobs:
  tagversion:
    runs-on: ubuntu-latest
    name: Tag Version
    steps:
    - name: Determine Suffix
      id: suffix
      run: |
        if ${{ inputs.prerelease }}; then
          echo "PRERELEASE_BRANCH=${{ github.head_ref }}" >> $GITHUB_OUTPUT
        fi
        
    - name: Bump version
      id: tag_version
      uses: mathieudutour/github-tag-action@fcfbdceb3093f6d85a3b194740f8c6cec632f4e2 # 6.1
      with:
        dry_run: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pre_release_branches: "${{ steps.outputs.suffix.PRERELEASE_BRANCH }}"
        release_branches: "release"
        append_to_pre_release_tag: prerelease
        
    - name: Results
      run: |
        echo head_ref:  ${{ github.head_ref }}
        echo ref_name:  ${{ github.ref_name }}
        echo New Tag:  ${{ steps.tag_version.outputs.new_tag }}
        echo New Version:  ${{ steps.tag_version.outputs.new_version }}
        echo Changelog:  '${{ steps.tag_version.outputs.changelog }}'
        
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
      new_version: ${{ steps.tag_version.outputs.new_version }}
      changelog: ${{ steps.tag_version.outputs.changelog }}
